.container{
    background-color: pink;
    margin: auto;
    max-width:500px;
    text-align: center;
    padding:5px;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow:2px 2px 2px 2px rgba(0,0,0,0.4);
}
button{
    padding:5px 20px;
    margin: 5px;
    cursor: pointer;
    font-size:16px;
    box-shadow: 2px 2px 2px rgba(255,0,0,0.3);
}
.ball{
    background-color: blue;
    border:none;
    color:white;
    border-radius: 6px;
}
.ball:hover{
    background-color: purple;
}
.wicket{
    background-color: red;
    color:white;
    border: none;
    padding:5px 60px;
    border-radius: 6px;
}
.wicket:hover{
    background-color: blue;
}
.score{
    display: flex;
    justify-content: center;
    gap:30px;
    align-items: center;
}
span{
    color:rgb(75, 137, 75);
    margin-top:10px;
    margin-left: 2px;
}
h1{
    color:rgb(245, 12, 222);
    text-transform: uppercase;
    font-size: 28px;
    margin-bottom: -10px;
    text-shadow: 2px 2px 2px rgba(255,255,255,1);
}

@media All and (max-width:322px){
    h1{
        color:rgb(245, 12, 222);
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: -10px;
        text-shadow: 2px 2px 2px rgba(255,255,255,1);
    } 
}
@media All and (max-width:277px){
    h1{
        color:rgb(245, 12, 222);
        text-transform: uppercase;
        font-size: 19px;
        margin-bottom: -10px;
        text-shadow: 2px 2px 2px rgba(255,255,255,1);
    } 
    .wicket{
        background-color: red;
        color:white;
        border: none;
        padding:5px 50px;
    }
}